<!DOCTYPE html>
<html>
<head>
    <title>Nouveau produit ajouté</title>
</head>
<body>
    <h2>Nouveau produit ajouté à notre boutique !</h2>
    
    <p>Un nouveau produit a été ajouté à notre catalogue :</p>
    
    <p>
        <strong>Nom du produit:</strong> {{ produit.nom }}<br>
        <strong>Description:</strong> {{ produit.description }}<br>
        <!-- Ajoutez d'autres détails du produit ici -->
    </p>
    
    <p>Visitez notre site pour découvrir ce nouveau produit et bien d'autres !</p>
    
    <p>Merci de votre intérêt pour nos produits.</p>
</body>
</html>
