<form method="post" action="{{ path('app__venement_delete', {'id': _venement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ _venement.id) }}">
    <button class="btn" id="action-link">
    <i class="fas fa-trash"></i>
    Delete </button>
</form>

<style>
#action-link {
    color: #696cff; 
    text-decoration: none; 
    margin :0 0 0 -20px ;
}
</style>
