{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Edit évenement</h1>

    {{ include('Evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app__venement_index') }}">back to list</a>

    {{ include('Evenement/_delete_form.html.twig') }}
{% endblock %}
