{% extends 'base.html.twig' %}

{% block title %}Edit event{% endblock %}

{% block body %}
<a href="{{ path('app__venement_index') }}" id="back-button">
  <i class="fas fa-arrow-left"></i> Back to list
</a>
    <h1>Edit event</h1>
  <div class="form-container">
    {{ include('Evenement/_form.html.twig', {'button_label': 'Update'}) }}
 </div>
   
    {% block stylesheets %}
  <style>
 
  #back-button {
  display: inline-block;
  margin : 10px 0 20px 10px 
}

h1 {
  text-align: center;
}

  .form-container {
    text-align: center;
  }
  </style>
 {% endblock %}
{% endblock %}
