{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

<div class="card mb-4" id="stat_card">
  <div class="card-widget-separator-wrapper">
    <div class="card-body card-widget-separator">
      <div class="row gx-4">
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title mb-2">Total Reservations</h6>
              <h4 class="card-text mb-2">50 Reservations</h4>
              <div class="avatar">
                <span class="avatar-initial rounded bg-label-secondary">
                  <i class="fas fa-calendar-alt"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title mb-2">Upcoming Events</h6>
              <h4 class="card-text mb-2">5 Events</h4>
              <div class="avatar">
                <span class="avatar-initial rounded bg-label-secondary">
                  <i class="bx bx-laptop bx-sm"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title mb-2">Total Clients Expenses</h6>
              <h4 class="card-text mb-2">1000 DT</h4>
              <div class="avatar">
                <span class="avatar-initial rounded bg-label-secondary">
                  <i class="bx bx-wallet bx-sm"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title mb-2">Total Events</h6>
              <h4 class="card-text mb-2">60 Events</h4>
              <div class="avatar">
                <span class="avatar-initial rounded bg-label-secondary">
                  <i class="bx bx-laptop bx-sm"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
