{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="chart-container">
        <div class="chart">
            <h1>Total Reservations by Date</h1>
            <canvas id="reservationsChart" width="400" height="400"></canvas>
        </div>
        <div class="chart">
            <h1>Total Expenses in DT by Event</h1>
            <canvas id="expensesChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var reservationsData = {{ reservationsByDate|json_encode|raw }};
        var expensesData = {{ expensesByEvent|json_encode|raw }};
        var reservationsPercentageData = {{ reservationsPercentageByEvent|json_encode|raw }};

    
        reservationsData.forEach(function(entry) {
            entry.reservationDate = new Date(entry.reservationDate);
        });

       
        var reservationsCtx = document.getElementById('reservationsChart').getContext('2d');
        var reservationsChart = new Chart(reservationsCtx, {
            type: 'bar',
            data: {
                labels: reservationsData.map(function(entry) {
                    return entry.reservationDate.toLocaleDateString();
                }),
                datasets: [{
                    label: 'Total Reservations',
                    data: reservationsData.map(function(entry) {
                        return entry.totalReservations;
                    }),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


        var expensesCtx = document.getElementById('expensesChart').getContext('2d');
        var expensesChart = new Chart(expensesCtx, {
            type: 'bar',
            data: {
                labels: expensesData.map(function(entry) {
                    return entry.eventName;
                }),
                datasets: [{
                    label: 'Total Expenses',
                    data: expensesData.map(function(entry) {
                        return entry.totalExpenses;
                    }),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    
        var reservationsPercentageCtx = document.getElementById('reservationsPercentageChart').getContext('2d');
        var reservationsPercentageChart = new Chart(reservationsPercentageCtx, {
            type: 'pie',
            data: {
                labels: reservationsPercentageData.map(function(entry) {
                    return entry.eventName;
                }),
                datasets: [{
                    label: 'Reservations Percentage',
                    data: reservationsPercentageData.map(function(entry) {
                        return entry.reservationsPercentage;
                    }),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false
            }
        });
    });
</script>
<style>
    .chart-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
       
    }

    .chart {
        margin-bottom: 20px;
    }
</style>
{% endblock %}
