{% extends 'base.html.twig' %}

{% block title %}ype Reclamation {% endblock %}

{% block body %}
    <h1>Type Reclamation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.libelle }}</td>
               
                <td>
                    <a href="{{ path('app_typereclamation_delete', {'id': reclamation.id}) }}" style="color: red;">Delete</a>
                    <a href="{{ path('app_typereclamation_edit', {'id': reclamation.id}) }}" style="color: blue;">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_newType') }}">Create new</a>
{% endblock %}
