{% extends 'base.html.twig' %}

{% block title %}Type Reclamation index{% endblock %}

{% block body %}
    <h1>Type Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.getLibelle() }}</td>
                
                <td>
                    <a href="{{ path('app_typereclamation_delete', {'id': reclamation.getId()}) }}">Delete</a>
                    <a href="{{ path('app_typereclamation_edit', {'id': reclamation.getId()}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Form for adding a new type reclamation #}
    <h2>Ajouter un Type de Reclamation</h2>
    {{ render(controller('App\\Controller\\TypeReclamationController::new')) }}

{% endblock %}
