<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ArtTun</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/assets/Front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/Front/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/Front/css/slicknav.css">
    <link rel="stylesheet" href="/assets/Front/css/flaticon.css">
    <link rel="stylesheet" href="/assets/Front/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/Front/css/gijgo.css">
    <link rel="stylesheet" href="/assets/Front/css/animate.min.css">
    <link rel="stylesheet" href="/assets/Front/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/Front/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/Front/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/Front/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/Front/css/slick.css">
    <link rel="stylesheet" href="/assets/Front/css/nice-select.css">
    <link rel="stylesheet" href="/assets/Front/css/style.css">
    <link rel="stylesheet" href="/assets/Front/css/Pstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-H+PLcEh3JmRTqSMtLhRt4feawfDRtCcv4E1wUoW4Rl4KFlM1m0wZcF1OEDv4aO9P2Yvzp7Qpxa6HCm5ol7j1Ig==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  
  
    
</head>
<body class="full-wrapper">
<script>
       
        function toggleMenu() {
            var menu = document.getElementById("userMenu");
            if (menu.classList.contains("hidden")) {
                menu.classList.remove("hidden");
            } else {
                menu.classList.add("hidden");
            }
        }
    </script>


    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
  
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">Home</a></li> 
                                        <li><a href="/produit">Shop</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Painting</a></li>
                                                <li><a href="blog_details.html">Sculpture</a></li>
                                                <li><a href="elements.html">Drawing materials</a></li>
                                                <li><a href="product_details.html">Plastic art</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/show/events/front">Events</a></li>
                                        <li><a href="shop.html">Claims</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <!-- Social -->
                            <div class="header-social d-none d-md-block">
    
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                 <a href="/panier"><i class="fas fa-shopping-cart"></i></a>

                            </div>
                            <!-- Search Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li class="mr-15">
                                        <div class="nav-search search-switch">
                                            <i class="ti-search"></i>
                                        </div>
                                    </li>
                                    <li>

</div>

<div class="main-menu  d-none d-lg-block">
  <div class="card-stor">
                                <nav>
                                    <ul id="navigation">
                                       
                                        <li>
                                           <img src="/assets/img/icons/user/profile.png" alt="User Icon">
                                            <ul class="submenu">
                                                <li><a href="#">My Profile</a></li>
                                                <li><a href="{{ path('app_reservation_index') }}">Reservations History</a></li>
                                                <li><a href="#">Log Out</a></li>
                                            </ul>
                                        </li>
                                     
                                    </ul>
                                </nav>
                            </div> 
                            </div>


                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
            {% block body %}
            
            {% endblock %}
    </main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
                 <div class="single-footer-caption mb-50">
                   <div class="single-footer-caption mb-30">
                      <!-- logo -->
                      <div class="footer-logo mb-35">
                       <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                   </div>
                   <div class="footer-tittle">
                       <div class="footer-pera">
                           <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                       </div>
                   </div>
                   <!-- social -->
                   <div class="footer-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Quick links</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Shop Category</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Pertners</h4>
                <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Get in touch</h4>
                <ul>
                    <li><a href="#">(89) 982-278 356</a></li>
                    <li><a href="#">demo@colorlib.com</a></li>
                    <li><a href="#">67/A, Colorlib, Green road, NYC</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- footer-bottom area -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
           <div class="row d-flex align-items-center">
               <div class="col-xl-12 ">
                   <div class="footer-copy-right text-center">
                       <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/Front/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/Front/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/Front/js/popper.min.js"></script>
<script src="/assets/Front/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="/assets/Front/js/owl.carousel.min.js"></script>
<script src="/assets/Front/js/slick.min.js"></script>
<script src="/assets/Front/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="/assets/Front/js/wow.min.js"></script>
<script src="/assets/Front/js/animated.headline.js"></script>
<script src="/assets/Front/js/jquery.magnific-popup.js"></script>
<script src="/assets/Front/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="/assets/Front/js/jquery.nice-select.min.js"></script>
<script src="/assets/Front/js/jquery.sticky.js"></script>
<script src="/assets/Front/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/Front/js/jquery.counterup.min.js"></script>
<script src="/assets/Front/js/waypoints.min.js"></script>
<script src="/assets/Front/js/jquery.countdown.min.js"></script>
<script src="/assets/Front/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/Front/js/contact.js"></script>
<script src="/assets/Front/js/jquery.form.js"></script>
<script src="/assets/Front/js/jquery.validate.min.js"></script>
<script src="/assets/Front/js/mail-script.js"></script>
<script src="/assets/Front/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/assets/Front/js/plugins.js"></script>
<script src="/assets/Front/js/main.js"></script>

</body>



</html>